*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/tv/src/main/java/com/californiadreamshostel/officetv/WEATHER/API_KEYS.java
.idea/caches/build_file_checksums.ser